my_list = ['bhushan' , 100 , 23.98]

In [3]:
my_list

['bhushan', 100, 23.98]

In [4]:
len(my_list)

3

In [5]:
print(len(my_list))

3

In [6]:
my_list[0]

'bhushan'

In [7]:
another_list = ['my','name','ayu']

In [8]:
another_list

['my', 'name', 'ayu']

In [10]:
new_list = my_list + another_list

In [11]:
new_list

['bhushan', 100, 23.98, 'my', 'name', 'ayu']

In [12]:
new_list[2:]

[23.98, 'my', 'name', 'ayu']

In [13]:
new_list[1] = 'love'

In [14]:
new_list

['bhushan', 'love', 23.98, 'my', 'name', 'ayu']

//using append()

In [16]:
new_list.append('shubhu')

In [17]:
new_list

['bhushan', 'love', 23.98, 'my', 'name', 'ayu', 'shubhu']

In [18]:
new_list.pop()

'shubhu'

In [19]:
new_list

['bhushan', 'love', 23.98, 'my', 'name', 'ayu']

In [20]:
popped_item = new_list.pop()

In [21]:
new_list

['bhushan', 'love', 23.98, 'my', 'name']

In [22]:
popped_item

'ayu'

In [25]:
new_list.pop(2)

23.98

In [26]:
new_list

['bhushan', 'love', 'my', 'name']

In [27]:
alpha_list = ['a','w','b','z','e']
num_list = [2,8,4,0,1]

In [28]:
alpha_list.sort()

In [29]:
alpha_list

['a', 'b', 'e', 'w', 'z']

In [30]:
new_list = alpha_list.sort()

In [31]:
new_list

In [32]:
type(new_list)

NoneType

In [38]:
alpha_list.sort()
my_sorted_list =alpha_list

In [39]:
my_sorted_list

['a', 'b', 'e', 'w', 'z']

In [44]:
num_list.sort()

In [46]:
num_list

[0, 1, 2, 4, 8]

In [47]:
num_list.reverse()

In [48]:
num_list

[8, 4, 2, 1, 0]